@charset "UTF-8";
@import url(font-awesome.min.css);



/* Header
------------- */
#header {
    text-align:center;
    text-transform:uppercase;
    
    background: url(/images/sad_keir.png) no-repeat center center; /* removed fixed */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  padding: 5% 10% 50% 10%;
  
  }


/* Nav Bar
------------- */
/* TODO responsive padding change */
/* Nav Bar
------------- */
/* TODO responsive padding change */

/*
ul.nav-content {
    background-color:#222;
    height:60px;
    opacity:0.95;
}
ul.nav-content li {
    list-style-type: none;
    float:left;
    overflow:hidden;
    text-transform:uppercase;
    padding-right: 1%;
    letter-spacing:0.2rem;
    line-height: 5rem;
    padding: 5% 10px;
}

ul.nav-content a {
    color:#fff;
}
ul.nav-content a:active {
    color: #D83304;
}

ul.nav-content a:hover {
    color: #D83304;
}

ul.nav-content li.icon {
    display:none;
}

@media (min-width: 300px) and (max-width: 800px) {
  ul.nav-content li:not(:first-child) {
    display:none;
  }
  ul.nav-content li.icon {
    float:right;
    padding-right:15%;
    display:inline;
  }
}

@media (min-width: 300px) and (max-width: 800px) {
  ul.nav-content.responsive {
    position: relative;
    background-color:#333;
    font-size:12px;
    }
  
  ul.nav-content.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.nav-content.responsive li {
    float: none;
    display: inline;
  }
  ul.nav-content.responsive li a {
    display: block;
    text-align: left;
  }
}
*/


ul.nav-content {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.nav-content li {float: left;}

ul.nav-content li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 10px 14px 20px;
  text-decoration: none;
  text-transform:uppercase;
  letter-spacing:0.2rem;
  transition: 0.3s;
  font-size: 17px;
}
ul.nav-content a:hover {
    color: #D83304;
}
ul.nav-content li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.nav-content li:not(:first-child) {display: none;}
  ul.nav-content li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.nav-content.responsive {position: relative;}
  ul.nav-content.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.nav-content.responsive li {
    float: none;
    display: inline;
  }
  ul.nav-content.responsive li a {
    display: block;
    text-align: left;
  }
}



/*
Icons

via Identity by HTML5 UP
html5up.net | @ajlkn
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

.icon {
    text-decoration: none;
    position: relative;
    border-bottom: none;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    margin-top: -0.675em;
    
}

ul.icons li {
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.675em;
    
}

ul.icons li a {
    text-decoration: none;
    position: relative;
    display: block;
    width: 3.75em;
    height: 3.75em;
    border-radius: 100%;
    border: solid 1px #fff;
    line-height: 3.75em;
    overflow: hidden;
    text-align: center;
    text-indent: 3.75em;
    white-space: nowrap;
}

ul.icons li a:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

ul.icons li a:before {
    color: #ffffff;
    /*text-shadow: 1.25px 0px 0px #c8cccf, -1.25px 0px 0px #c8cccf, 0px 1.25px 0px #c8cccf, 0px -1.25px 0px #c8cccf;*/
}

ul.icons li a:hover:before {
    /*text-shadow: 1.25px 0px 0px #ff7496, -1.25px 0px 0px #ff7496, 0px 1.25px 0px #ff7496, 0px -1.25px 0px #ff7496;*/
}

ul.icons li a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    font-size: 1.85rem;
    line-height: inherit;
    text-align: center;
    text-indent: 0;
}

ul.icons li a:hover {
    border-color: #D83304;
}

@media screen and (max-width: 480px) {

ul.icons li a:before {
    font-size: 1.5rem;
}

}


/* Overlay
------------- */
.bg {
    background-color: rgba(1,0,0, 0.5);
    padding: 10% 5% 10% 5%;
}

/* Music
------------- */
#music {
    background: url(/images/audience-jonathan-denney.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Shows
------------- */
#shows {
   background: url(/images/guitar-austin-prock.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}



/* About
------------- */
#about {
    background: url(/images/producing-james-stamler.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

/* Contact
------------- */
#contact {
    background: url(/images/electricG-william-iven.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}


/* Footer
------------- */

#footer {
    background: url(/images/tap-cristian-guanipa.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}






