/* via http://www.minimit.com/demos/fullscreen-backgrounds-with-centered-content */

.bg {
	background-repeat:no-repeat;
	background-position:50% 50%; /* custom */
	background-position:50% 50%\9 !important; /* ie8 graceful degradation */
}

/* fullscreen setup */
html, body {
	height:100%;
}

.fullscreen,
.content-a {
	width:100%;
	height:100%;
	overflow:hidden;
	margin: 5px auto;
}

.fullscreen.overflow,
.fullscreen.overflow .content-a {
	height:auto;
	min-height:100%;
}

/* content centering */
.content-a {
	display:table;
}

.content-b {
	display:table-cell;
	position:relative;
	vertical-align:middle;
	text-align:left;
}

section {
	background:#222;
}

.not-fullscreen {
	height:50%;
}
