/* Pen-specific styles */
html, body, section {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
}

h1 {
  font-size: 60px;
  font-variant: small-caps;
  margin: -4rem 0 0.75rem 0;
  letter-spacing: 4px;
}

/* Pattern styles */
.container {
  display: flex;
  flex-wrap: wrap;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-half {
  flex: 50%;
  padding: 0;
}

.right-half {
  flex: 50%;
  padding: 0;
}

figure {
    margin: 0;
    background-position: center;
    background-size: cover;
    background-image: url(../images/main.jpg);
    width: 100%;
    height: 100%;
  }


#social img {
      width: 20px;
      padding: 5px;
  }

 nav {
     margin-top: 10px;
 }

  /* Media Queries
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /*
  Note: The best way to structure the use of media queries is to create the queries
  near the relevant code. For example, if you wanted to change the styles for buttons
  on small devices, paste the mobile query code up in the buttons section and style it
  there.
  */


  /* Larger than mobile */
  @media (max-width: 550px) {
      .container {
          flex-direction: column;
      }

      h1 {
          font-size: 40px;
      }

      #social img {
            width: 15px;
            padding: 2px;
        }

        nav {
            margin-top: 5px;
            float: left;
        }
  }

  /* Larger than phablet (also point when grid becomes active) */
  @media (min-width: 550px) {}

  /* Larger than tablet */
  @media (min-width: 750px) {}

  /* Larger than desktop */
  @media (min-width: 1000px) {}

  /* Larger than Desktop HD */
  @media (min-width: 1200px) {}
